## Define Haversine Function for mathematical calculation of distance between 2 coordinate pairs

# Import Libraries

In [4]:
import requests
import json
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import gmaps
gmaps.configure(api_key="AIzaSyDQ9ic_m6x5A0daA1Dcq7OntRnSRFtgxQg")

# Define Haversine Function for mathematical calculation of distance between 2 coordinate pairs

In [1]:
from math import radians, cos, sin, asin, sqrt

def haversine(lon1, lat1, lon2, lat2):

    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    r = 6371 # Radius of earth in kilometers. Use 3956 for miles
    return round(c * r,1)

In [ ]:
# A Little bit about Montgomery County, PA

In [2]:
## Load in County Statistics CSV

In [5]:
# read County_Stats csv
County_Stats_df = pd.read_csv("CountyStats.csv")
County_Stats_df.head()

,State,County,% Adults with Obesity,% Excessive Drinking,Chlamydia Rate,% Drive Alone to Work
0,Alabama,Autauga,33.0,14.0,504.5,86.0
1,Alabama,Baldwin,30.0,19.0,297.2,84.0
2,Alabama,Barbour,41.0,12.0,755.8,82.0
3,Alabama,Bibb,37.0,15.0,613.2,87.0
4,Alabama,Blount,33.0,16.0,303.4,88.0

In [ ]:
hello