## Define Haversine Function for mathematical calculation of distance between 2 coordinate pairs

# Import Libraries

In [2]:
import requests
import json
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import gmaps
gmaps.configure(api_key="AIzaSyDQ9ic_m6x5A0daA1Dcq7OntRnSRFtgxQg")

In [4]:
target_city = "Philadelphia, United States"

params = {"address": target_city, "key": "AIzaSyDQ9ic_m6x5A0daA1Dcq7OntRnSRFtgxQg"}

# Build URL using the Google Maps API
base_url = "https://maps.googleapis.com/maps/api/geocode/json"


# Run request
response = requests.get(base_url, params=params)

# print the response URL, avoid doing for public GitHub repos in order to avoid exposing key
# print(response.url)

# Convert to JSON
Philly_Geo = response.json()

# Extract lat/lng
Lat_Philly = Philly_Geo["results"][0]["geometry"]["location"]["lat"]
Lon_Philly = Philly_Geo["results"][0]["geometry"]["location"]["lng"]
%store Lat_Philly
%store Lon_Philly
# Print results
print(f"{target_city}: {Lat_Philly}, {Lon_Philly}")

Stored 'Lat_Philly' (float)
Stored 'Lon_Philly' (float)
Philadelphia, United States: 39.9525839, -75.1652215

# Define Haversine Function for mathematical calculation of distance between 2 coordinate pairs

In [3]:
from My_Functions import haversine

# A Little bit about Montgomery County, PA

## Load in County Statistics CSV

In [5]:
# read County_Stats csv
County_Stats_df = pd.read_csv("CountyStats.csv")
County_Stats_df.head()

,State,County,% Adults with Obesity,% Excessive Drinking,Chlamydia Rate,% Drive Alone to Work
0,Alabama,Autauga,33.0,14.0,504.5,86.0
1,Alabama,Baldwin,30.0,19.0,297.2,84.0
2,Alabama,Barbour,41.0,12.0,755.8,82.0
3,Alabama,Bibb,37.0,15.0,613.2,87.0
4,Alabama,Blount,33.0,16.0,303.4,88.0

## How many Counties in US?

In [6]:
len(County_Stats_df)

3193

## Generate County Rankings & Show Results for Montgomery County (MC)

In [7]:
# Create rank columns for the 4 statistics
County_Stats_df['Obesity_Rank'] = County_Stats_df['% Adults with Obesity'].rank()
County_Stats_df['Excessive_Drinking_Rank'] = County_Stats_df['% Excessive Drinking'].rank()
County_Stats_df['Chlamydia_Rank'] = County_Stats_df['Chlamydia Rate'].rank()
County_Stats_df['Driving_Alone_Rank'] = County_Stats_df['% Drive Alone to Work'].rank()

# Narrow down the data frame to only Montgomery County in Pennsylvania
County_Stats_df=County_Stats_df.loc[County_Stats_df["State"]=="Pennsylvania"]
County_Stats_df=County_Stats_df.loc[County_Stats_df["County"]=="Montgomery"]
County_Stats_df

,State,County,% Adults with Obesity,% Excessive Drinking,Chlamydia Rate,% Drive Alone to Work,Obesity_Rank,Excessive_Drinking_Rank,Chlamydia_Rank,Driving_Alone_Rank
2327,Pennsylvania,Montgomery,25.0,22.0,295.1,78.0,268.5,2530.0,1228.0,879.5

# Concert Analysis

In [10]:
# read Clean 911 calls csv
Clean_911_df = pd.read_csv("Clean_911.csv")
Clean_911_df.head()

,Dept,Type,YY,MMM,MM,MMM-YY,YYMM,WD,WD#,Date,Date2,HH,Time,TStamp,lat,lng,zip,km from Philly
0,EMS,BACK PAINS/INJURY,15,Dec,12,Dec-15,1512,Thu,3,2015-12-10,10/12/2015,17,17:10:52,2015-12-10 17:10:52,40.297876,-75.581294,19525.0,52.2
1,EMS,DIABETIC EMERGENCY,15,Dec,12,Dec-15,1512,Thu,3,2015-12-10,10/12/2015,17,17:29:21,2015-12-10 17:29:21,40.258061,-75.264680,19446.0,35.0
2,Fire,GAS-ODOR/LEAK,15,Dec,12,Dec-15,1512,Thu,3,2015-12-10,10/12/2015,14,14:39:21,2015-12-10 14:39:21,40.121182,-75.351975,19401.0,24.6
3,EMS,CARDIAC EMERGENCY,15,Dec,12,Dec-15,1512,Thu,3,2015-12-10,10/12/2015,16,16:47:36,2015-12-10 16:47:36,40.116153,-75.343513,19401.0,23.7
4,EMS,DIZZINESS,15,Dec,12,Dec-15,1512,Thu,3,2015-12-10,10/12/2015,16,16:56:52,2015-12-10 16:56:52,40.251492,-75.603350,NaN,49.9

## Checking for 911 Calls regarding "subject in pain", "Nausea/Vomiting", "Head Injury"

In [11]:
 illness_calls_df=Clean_911_df.copy()

# filter for traffic as cat 1
illness_calls_df=illness_calls_df.loc[(illness_calls_df["Type"]=="NAUSEA/VOMITING")|(illness_calls_df["Type"]=="HEAD INJURY")|(illness_calls_df["Type"]=="SUBJECT IN PAIN")]
#[(initial_df['dist'] > upper_bound) | (initial_df['dist'] < lower_bound)]
illness_calls_df.head()

,Dept,Type,YY,MMM,MM,MMM-YY,YYMM,WD,WD#,Date,Date2,HH,Time,TStamp,lat,lng,zip,km from Philly
5,EMS,HEAD INJURY,15,Dec,12,Dec-15,1512,Thu,3,2015-12-10,10/12/2015,15,15:39:04,2015-12-10 15:39:04,40.253473,-75.283245,19446.0,34.9
6,EMS,NAUSEA/VOMITING,15,Dec,12,Dec-15,1512,Thu,3,2015-12-10,10/12/2015,16,16:46:48,2015-12-10 16:46:48,40.182111,-75.127795,19044.0,25.7
26,EMS,HEAD INJURY,15,Dec,12,Dec-15,1512,Thu,3,2015-12-10,10/12/2015,18,18:02:38,2015-12-10 18:02:38,40.155283,-75.264230,19422.0,24.1
56,EMS,SUBJECT IN PAIN,15,Dec,12,Dec-15,1512,Thu,3,2015-12-10,10/12/2015,19,19:15:10,2015-12-10 19:15:10,40.089973,-75.141085,19095.0,15.4
57,EMS,SUBJECT IN PAIN,15,Dec,12,Dec-15,1512,Thu,3,2015-12-10,10/12/2015,19,19:17:13,2015-12-10 19:17:13,40.247002,-75.652597,19464.0,52.8

In [12]:
# drop useless columns
illness_calls_df=illness_calls_df.drop(columns=['WD','WD#','HH','Time','TStamp','lat','lng','zip'])
illness_calls_df.head()

,Dept,Type,YY,MMM,MM,MMM-YY,YYMM,Date,Date2,km from Philly
5,EMS,HEAD INJURY,15,Dec,12,Dec-15,1512,2015-12-10,10/12/2015,34.9
6,EMS,NAUSEA/VOMITING,15,Dec,12,Dec-15,1512,2015-12-10,10/12/2015,25.7
26,EMS,HEAD INJURY,15,Dec,12,Dec-15,1512,2015-12-10,10/12/2015,24.1
56,EMS,SUBJECT IN PAIN,15,Dec,12,Dec-15,1512,2015-12-10,10/12/2015,15.4
57,EMS,SUBJECT IN PAIN,15,Dec,12,Dec-15,1512,2015-12-10,10/12/2015,52.8

## Group illness calls by month-yr

In [14]:
illness_calls_df.groupby('MMM-YY').size()

MMM-YY
Apr-16    772
Apr-17    726
Apr-18    840
Apr-19    900
Apr-20    617
Aug-16    804
Aug-17    806
Aug-18    843
Aug-19    941
Dec-15    453
Dec-16    770
Dec-17    845
Dec-18    866
Dec-19    951
Feb-16    716
Feb-17    698
Feb-18    753
Feb-19    864
Feb-20    845
Jan-16    808
Jan-17    770
Jan-18    877
Jan-19    895
Jan-20    922
Jul-16    821
Jul-17    809
Jul-18    834
Jul-19    893
Jul-20    747
Jun-16    723
Jun-17    807
Jun-18    799
Jun-19    842
Jun-20    797
Mar-16    776
Mar-17    754
Mar-18    818
Mar-19    988
Mar-20    841
May-16    782
May-17    808
May-18    839
May-19    917
May-20    706
Nov-16    776
Nov-17    768
Nov-18    838
Nov-19    916
Oct-16    796
Oct-17    851
Oct-18    898
Oct-19    896
Sep-16    784
Sep-17    840
Sep-18    851
Sep-19    967
dtype: int64